// MEDIA QUERIES: ANCHOS DE PANTALLA PARA: CELULAR / TABLET / PC /////////////////////////////////////////////////

//WEB - INDEX //
@media only screen and (max-width: 600px) {
.barra {
  border: 1px $colorBordeBarra solid;
  &__flex {
    padding-left: 10%;
    background-color: $colorNav;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__boton--color {
    background-color: $colorBarraBoton;
    font-weight: bold;
    color: $colorNav;
  }
  &__padding {
    padding: 5px;
  }
}
}
@media only screen and (max-width: 932px) {
  #carrousel--bajada {
    display: none;
  }
  .barra {
  border: 1px $colorBordeBarra solid;
  &__flex {
    padding-left: 10%;
    background-color: $colorNav;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__boton--color {
    background-color: $colorBarraBoton;
    font-weight: bold;
    color: $colorNav;
  }
  &__padding {
    padding: 5px;
  }
  }
}

// WEBS - CINE + TV //
@media only screen and (max-width: 600px) {
  .grilla {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
      "main0"
      "main1"
      "article"
      "main2"
      "main3";
  }

  .main0 {
    background-color: $colorArticuloA;
    grid-area: main0;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .main1 {
    background-color: $colorArticuloB;
    grid-area: main1;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;
  }

  .article {
    background-image: $colorNotaI;
    grid-area: article;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 3%;
    padding-left: 3%;  }

  .main2 {
    grid-area: main2;
    background-color: $colorArticuloA;
    height: auto;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%; 
  padding-bottom: 5%; }

  .main3 {
    grid-area: main3;
    background-color: $colorArticuloB;
    height: auto;
    padding-top: 5%;
    padding-right: 3%;
    padding-left: 3%;
  padding-bottom: 5%;  
}

  .aside {
    display: none;
  }

  .web__article {
    &--flex {
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: center;
      align-content: center;
    }
    &--div {
      display: flex;
      height: auto;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      padding-top: 13px;
      margin-right: 0px;
      margin-left: 0px;
      padding-right: 10px;
      padding-left: 10px;
    }
    &--padding {
      padding-bottom: 0px;
    }
  }

  .h__cuatro {
    font-size: 20px;
  }

  .parrafo {
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 931px) {
  .grilla {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
      "main0"
      "main1"
      "article"
      "main2"
      "main3";
  }

  .main0 {
    background-color: $colorArticuloA;
    grid-area: main0;
    height: auto;
padding-top: 2%;
padding-bottom: 3%;
  }

  .main1 {
    background-color: $colorArticuloB;
    grid-area: main1;
    height: auto;
padding-top: 1%;
  }

  .article {
    background-image: $colorNotaI;
    grid-area: article;
    height: auto;
padding-top: 2%;
  }

  .main2 {
    grid-area: main2;
    background-color: $colorArticuloA;
    height: auto;
padding-top: 2%;  
}

  .main3 {
    grid-area: main3;
    background-color: $colorArticuloB;
    height: auto;
padding-top: 2%;
  }

  .aside {
    display: none;
  }

  .web__article--flex {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .web__article--div {
    display: flex;
    height: auto;
    flex-direction: column;
    margin-right: 20px;
  }

  .web__img--centrada {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 932px) {
  .grilla {
    height: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
      "main0 aside"
      "main1 aside"
      "article aside"
      "main2 aside"
      "main3 aside";
  }

  .main0 {
    background-color: $colorArticuloA;
    grid-area: main0;
    height: auto;
padding: 4%;
    display: flex;
    align-items: center;
  }

  .main1 {
    background-color: $colorArticuloB;
    grid-area: main1;
    height: auto;
padding: 4%;
    display: flex;
    align-items: center;
  }

  .article {
    background-image: $colorNotaI;
    grid-area: article;
    font-size: 20px;
    height: auto;
padding: 4%;
    display: flex;
    align-items: center;
  }

  .main2 {
    grid-area: main2;
    background-color: $colorArticuloA;
    height: auto;
padding: 4%;
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .main3 {
    grid-area: main3;
    background-color: $colorArticuloB;
    height: auto;
padding: 4%;
    display: flex;
    justify-items: center;
    justify-content: center;
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-content: center;
    align-items: center;
    background-image: $colorAside;
  }

  .web__article--flex {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin: 0px;
  }
  .web__article--div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  .web__article--padding {
    padding-bottom: 0px;
  }

  .parrafo {
    font-size: 15px;
  }
}

// WEB - NOSOTROS //
@media only screen and (max-width: 600px) {
  .grillaNosotros {
    height: auto;
    display: grid;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 36% 19% 26% 19%;
    grid-template-areas:
      "articleN"
      "imgN"
      "articleM"
      "imgM";
  }

  .articleN {
    grid-area: articleN;
    padding-top: 3%;
  }

  .imgN {
    grid-area: imgN;
    display: none;
  }

  .imgM {
    grid-area: imgM;
    display: none;
  }

  .articleM {
    grid-area: articleM;
    padding-top: 3%;
    padding-bottom: 0%;
  }

  #nosotros_borde {
    border-top: 5px solid $colorBordeNosotros ;
    width: 75%;
    padding-top: 8px;
}
}
@media only screen and (min-width: 601px) and (max-width: 931px) {
  .grillaNosotros {
    height: auto;
    display: grid;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 33% 21% 25% 21%;
    grid-template-areas:
      "articleN"
      "imgN"
      "articleM"
      "imgM";
  }

  .articleN {
    grid-area: articleN;
  }

  .imgN {
    grid-area: imgN;
    align-self: center;
    justify-self: center;
margin-bottom: 30px;
margin-top: 0px;  
}

  .imgM {
    grid-area: imgM;
    align-self: center;
    justify-self: center;
margin-top: 30px;
margin-bottom: 30px;
  }

  .articleM {
    grid-area: articleM;
  }

.nosotros__parrafo {
  text-align: left;
  margin: 0%;
}
}
@media only screen and (min-width: 932px) {
  .grillaNosotros {
    height: auto;
    display: grid;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 45%;
    grid-template-areas:
      "articleN imgN"
      "imgM articleM";
  }

  .articleN {
    grid-area: articleN;
  }

  .imgN {
    grid-area: imgN;
    align-self: center;
    justify-self: center;
    padding-left: 5%;
    padding-bottom: 10%;
  }

  .imgM {
    grid-area: imgM;
    align-self: center;
    justify-self: center;
    padding-bottom: 10%;
    padding-right: 10%;
  }

  .articleM {
    grid-area: articleM;
    padding-top: 1%;
    padding-bottom: 4%;
  }
}

// FOOTER //
@media only screen and (max-width: 600px) {
  .grillaFooter {
    height: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% 10% 10%;
    grid-template-areas:
      "logo"
      "menu"
      "iconosRedes"
      "copyRight";
  }

  .logo {
    grid-area: logo;
    height: auto;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
  }

  .menu {
    margin-top: 4%;
    grid-area: menu;
    height: auto;
    padding-bottom: 3%;
  }

  .iconosRedes {
    grid-area: iconosRedes;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
  }

  .copyRight {
    grid-area: copyRight;
    height: auto;
    padding-top: 0%;
    text-align: center;
  }

  footer {
    height: auto;
    background-color: $colorFooter;
    padding: 3%;
  }

  footer {
    li {
      padding-top: 3px;
      padding-bottom: 3px;
      margin-bottom: 15px;
      text-align: center;
    }
  }

  .footer__menu {
    padding: 0%;
    margin: 0%;
    &--copyRight {
      color: $colorFooterParrafo;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 6%;
    }
  }
  #copy_R {
    font-size: 25px;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 931px) {
  .grillaFooter {
    height: auto;
  }
  footer {
    height: auto;
    display: flex;
    flex-direction: row;
    div {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }
    li {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .logo {
    height: auto;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    padding-left: 2%;
  }
  .menu {
    margin-top: 5%;
    height: auto;
    width: 40%;
    margin-left: 2%;
  }
  .iconosRedes {
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6%;
  }
  .copyRight {
    width: 40%;
    height: auto;
    padding: 0%;
    text-align: center;
  }
  .footer__menu {
    padding: 0%;
    margin: 0%;
    &--copyRight {
      color: $colorFooterParrafo;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 6%;
    }
  }
  #copy_R {
    font-size: 25px;
    margin-right: 2%;
  }
}
@media only screen and (min-width: 932px) {
  .grillaFooter {
    height: auto;
  }
  footer {
    height: auto;
    display: flex;
    flex-direction: row;
    div {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
    }
    li {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .logo {
    height: auto;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    padding-left: 2%;
  }
  .menu {
    margin-top: 5%;
    height: auto;
    width: 40%;
    margin-left: 18%;
  }
  .iconosRedes {
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 6%;
  }
  .copyRight {
    width: 40%;
    height: auto;
    padding: 0%;
    text-align: center;
  }
  .footer__menu {
    padding: 0%;
    margin: 0%;
    &--copyRight {
      color: $colorFooterParrafo;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 6%;
    }
  }
  #copy_R {
    font-size: 25px;
    margin-right: 2%;
  }
}

// WEBS - TV - NOTA WANDAVISION //

@media only screen and (min-width: 932px) {
  .grillaWanda {
    display: grid;
    height: 6000px;
    grid-template-columns: 65% 35%;
    grid-template-rows: 5% 5% 6% 5% 7% 5% 8% 5% 7% 5% 7% 5% 7% 5% 7% 5% 7%;
    grid-template-areas:
      "seccionUno aside"
      "seccionDos aside"
      "seccionTres aside"
      "seccionCuatro aside"
      "seccionCinco aside"
      "seccionSeis aside"
      "seccionSiete aside"
      "seccionOcho aside"
      "seccionNueve aside"
      "seccionDiez aside"
      "seccionOnce aside"
      "seccionDoce aside"
      "seccionTrece aside"
      "seccionCatorce aside"
      "seccionQuince aside"
      "seccionDseis aside"
      "seccionDsiete aside";  
}

  .seccionUno {
    grid-area: seccionUno;
    height: auto;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 7%;
  }
  .seccionDos {
    grid-area: seccionDos;
    height: auto;
  }
  .seccionTres {
    grid-area: seccionTres;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionCuatro {
    grid-area: seccionCuatro;
    height: auto;
  }
  .seccionCinco {
    grid-area: seccionCinco;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionSeis {
    grid-area: seccionSeis;
    height: auto;
  }
  .seccionSiete {
    grid-area: seccionSiete;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionOcho {
    grid-area: seccionOcho;
    height: auto;
  }
  .seccionNueve {
    grid-area: seccionNueve;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionDiez {
    grid-area: seccionDiez;
    height: auto;
  }
  .seccionOnce {
    grid-area: seccionOnce;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionDoce {
    grid-area: seccionDoce;
    height: auto;
  }
  .seccionTrece {
    grid-area: seccionTrece;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionCatorce {
    grid-area: seccionCatorce;
    height: auto;
  }
  .seccionQuince {
    grid-area: seccionQuince;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .seccionDseis {
    grid-area: seccionDseis;
    height: auto;
  }
  .seccionDsiete {
    grid-area: seccionDsiete;
    height: auto;
    padding-left: 6%;
    padding-right: 7%;
  }
  .aside {
    grid-area: aside;
    height: auto;    
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-content: center;
    align-items: center;
    background-image: $colorAside;
  }
.web__wanda--bajada{
font-size: 19px;
border-left: brown solid 7px;
padding-left: 15px;

}
.web__wanda--parrafo{
font-size: 17px;
}
.web__wanda--titulo{
font-size: 35px;
color: black;
font-weight: bolder;
padding-bottom: 3%;
padding-left: 2%;
}
.web__wanda--subtitulo{
font-size: 18px;
font-weight: bold;
}

}
