// WEB - INDEX: CLASES, ID Y ETIQUETAS ESPECÍFICAS  ////////////////////////////////////////////////////////////////////

.index__margenes {
  margin: 1%;
}
#web_novedades{
  text-shadow: 2px 2px 2px $colorEfectoSombra;
}
// BARRA DE NAVEGACIÓN //

.barra {
  border: 1px $colorBordeBarra solid;
  &__flex {
    padding-left: 50%;
    background-color: $colorNav;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__boton--color {
    background-color: $colorBarraBoton;
    font-weight: bold;
    color: $colorNav;
  }
  &__padding {
    padding: 5px;
  }
}

#barra_boton:hover {
  transition: all 0.1s;
  background-color: $colorTransicionBarra;
  color: $colorBarraBuscar;
  font-weight: bold;
}

// CARROUSEL //

#carrousel {
  background-image: $colorCarrousel;
  width: 99%;
}
#carrousel--anchoAlto {
  height: auto;
  width: 75%;
  margin-left: 13%;
}
#carrousel--parrafo {
  font-size: 3rem;
  font-weight: bolder;
  cursor: pointer;
  text-shadow: -2px 2px 5px $colorEfectoSombra;
  background-image: $colorFondoCarrousel;
}
#carrousel--bajada {
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  background-image: $colorFondoCarrousel;
}
#index_h-tres {
  align-self: center;
  background-color: $colorFondoHtres;
  margin-top: 5px;
  padding: 3px;
  text-shadow: 1px 1px 1px $colorSobraOscura;
}
#index_card-alto {
  height: auto;
}
#index_img-size {
  align-self: center;
  width: 400px;
  height: 256px;
}

.index__carrousel {
  &--background {
    background-color: $colorIndexCarrousel;
  }
  &--padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
