// WEB - CONTACTENOS: CLASES, ID Y ETIQUETAS ESPECÍFICAS ////////////////////////////////////////////////////////////

.contactenos {
  &__row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
    text-align: center;
  }
  &__icono--formato {
    height: 28px;
    width: 28px;
    font-size: 28px;
    border-radius: 2px;
    cursor: pointer;
    color: $colorIconoContact;
    background-color: $colorFondoIconoContact;
  }
}

#contactenos_texto-sm {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

// FORMULARIO DE CONTACTO //

.contactenos__form {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  &--set {
    padding: 3%;
    width: 90%;
    height: auto;
    align-self: center;
    background-color: $colorFondoFormulario;
    color: $colorParrafoFormulario;
    font-weight: bold;
    border: $colorBordeFormulario 5px solid;
    border-radius: 20px;
    box-shadow: 16px 10px 5px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 16px 10px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 16px 10px 5px 0px rgba(0,0,0,0.57);
  }
  &--margen {
    margin-top: 10px;
  }
  &--botones {
    text-align: center;
  }
  &__boton--borde {
    border-radius: 10px;    
    border: $colorBordeFormulario 3px solid;
  }
}

// TABLA PUBLICITARIA //

.contactenos__tabla {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  &--alineacion {
    width: 60%;
    box-shadow: 7px 5px 5px 0px rgba(11,125,22,0.4);
    -webkit-box-shadow: 7px 5px 5px 0px rgba(11,125,22,0.4);
    -moz-box-shadow: 7px 5px 5px 0px rgba(11,125,22,0.4);
  }
  &--borde {
    border: 5px solid $colorBordeFormulario;
  }
}

// MEDIA QUERIE //

@media only screen and (max-width: 600px) {
  .contactenos__icono--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.contactenos__tabla {
  &--alineacion {
    width: 90%;
  }
}
}

@media only screen and (min-width: 932px){

.contactenos__form {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  &--set {
    width: 60%;
    height: auto;
    align-self: center;
    background-color: $colorFondoFormulario;
    color: $colorParrafoFormulario;
    font-weight: bold;
    padding: 7px;
    border: $colorBordeFormulario 5px solid;
  }
  &--margen {
    margin-top: 10px;
  }
  &--botones {
    text-align: center;
  }
  &__boton--borde {
    border: $colorBordeFormulario 3px solid;
  }
}


}